body
  font-family: Helvetica, Arial, Sans-serif
  background-color: #678
  color: #234
  width: 100%

.center-title
  text-align: center
  margin-bottom: 1em

.footer
  width: 100%
  margin-top: 3em
  text-align: center

a
  color: #237
  &:hover
    text-decoration: none
    color: #bcd
  &:active
    text-decoration: none
    color: #abc
  &:visited
    text-decoration: line-through
    color: #237
