extends ./template.jade
block content
  div.row
    div.col-sm-1.col-md-2.col-lg-3
    div.col-xs-12.col-sm-10.col-md-8.col-lg-6
      h1 Welcome to #{title}
      p The date is now #{date.toLocaleDateString()}
      p Breaking news:&#32;
        a(href=topStory.url)= topStory.title
    div.col-sm-1.col-md-2.col-lg-3
  div.row.lower
    div.col-sm-1.col-md-2.col-lg-3
    div.col-xs-12.col-sm-10.col-md-8.col-lg-6
      h3 API Routes
      p
        a(href='api') Simple API returning JSON
      p
        a(href='api/news') Scraping CNN's frontpage
      p
        a(href='api/passthrough') Straight passthrough of an external API
    div.col-sm-1.col-md-2.col-lg-3
  div.row
    div.col-sm-1.col-md-2.col-lg-3
    div.col-xs-12.col-sm-10.col-md-8.col-lg-6
      h3 Calendar Routes
      h4 Uses #[a(href='https://www.github.com/NewEvolution/node-cal') node-cal] as a module
      p
        a(href='cal') Display the current month's calendar at /cal
      p
        a(href='cal/2012') Display a year calendar at /api/&lt;year#&gt;
      p
        a(href='cal/8/2012') Display a specific month at /api/&lt;month#&gt;/&lt;year#&gt;
    div.col-sm-1.col-md-2.col-lg-3
