doctype html
html
  head
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css", type="text/css")
    link(rel="stylesheet" href="/styles/style.css", type="text/css")
    title=title
  body.container-flow
    block content
    div.footer
      &copy; Ryan Tanay #{date.getFullYear()}
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
